{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block navigation_pages %}
  <li class="tm-tab-link active">
    <a class="tm-tab-link active" href="">Cooks list</a>
  </li>
  <li class="tm-tab-link">
    {% if not user.position == "main cook" %}
      <a href="{% url 'kitchen:cook-create' %}" class="tm-tab-link active">Add cook</a>
    {% endif %}
  </li>
  <li>
    <form action="" method="get" class="d-sm-inline-block">
      {{ search_field.crispy }}
      <input type="submit" value="search" class="btn btn-secondary">
    </form>
  </li>
{% endblock %}
{% block list_content %}

  {% for cook in cook_list %}
    <div class="tm-list">
      <div class="tm-list-item">
        <div class="tm-black-bg tm-list-item-text">
          <h3 class="tm-list-item-name">{{ cook.first_name}} {{ cook.last_name }}<span class="tm-list-item-price"><a
              href="{% url 'kitchen:cook-detail' pk=cook.id %}">Details</a></span></h3>
          <p class="tm-list-item-description">Experience: {{ cook.years_of_experience }}. Position: {{ cook.position }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}