{% extends "base.html" %}

{% block content %}
  <h1>Dish {{ dish.name }}
    {% if user in dish.cooks.all  and not user in dish.finished_cooks.all %}
      <a href="{% url 'kitchen:add-progres' dish_id=dish.id%}" class="btn btn-success">I`m done</a>
    {% else %}
      <button class="btn btn-dark">Done</button>
    {% endif %}
  </h1>
  <p>Ingredients:</p>
  <ul>
      {% for ingredient in dish.ingredients.all %}
    <li>
      {{ ingredient.name }}
    </li>
      {% endfor %}
  </ul>
  <p>Cooks</p>
  <ul>
    {% for cook in dish.cooks.all %}
      <li>{{ cook.username }}</li>
    {% endfor %}
  </ul>
  <p>Progres: {{ dish.progres_percent }}%</p>
  <h2>Description:</h2>
  <p>{{ dish.description }}</p>
  <a href="{% url 'kitchen:dish-update' pk=dish.id %}"><button>Update</button></a>
  <a href="{% url 'kitchen:dish-delete' pk=dish.id %}"><button>Delete</button></a>
{% endblock %}