{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block navigation_pages %}
  <li class="tm-tab-link">
    <a class="tm-tab-link" href="">Dish types</a>
  </li>
  <li class="tm-tab-link">
    {% if not user.position == "main cook" %}
      <a href="{% url 'kitchen:dish-type-create' %}">Add type</a>
    {% endif %}
  </li>
  <li>
    <div class="dropdown">
      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Search
      </a>
      <div class="dropdown-menu">
      <form class="px-4 py-3" method="get">
        <div class="form-group">
          <label for="exampleDropdownFormEmail1"></label>
          <input type="text" class="form-control" name="name" id="exampleDropdownFormEmail1" placeholder="example: soup">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
      </div>
    </div>
  </li>
{% endblock %}
{% block list_content %}

  {% for dish_type in dishtype_list %}
    <div class="tm-list">
      <div class="tm-list-item">
        <div class="tm-black-bg tm-list-item-text">
          <h3 class="tm-list-item-name">{{ dish_type.name }}
            <span class="tm-list-item-price">
            <a href="{% url 'kitchen:dish-type-update' pk=dish_type.id %}">Update</a>
              <span class="tm-list-item-price">
                <a href="{% url 'kitchen:dish-type-delete' pk=dish_type.id %}">Delete</a>
              </span>
          </span></h3>
          <p class="tm-list-item-description"></p>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
