{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block navigation_pages %}
  <li class="tm-tab-link active">
    <h1 class="tm-tab-link active">{{ object|yesno:"Update,Create" }} ingredient</h1>
  </li>
{% endblock %}
{% block list_content %}
   <div class="tm-list">
      <div class="tm-list-item">
        <div class="tm-black-bg tm-list-item-text">
          <h3 class="tm-list-item-name">
            </h3>
            <span class="tm-list-item-price d-block">

            <form method="post" action="">
              {% csrf_token %}
              {{ form|crispy }}

              <input type="submit" value="Yes" class="btn-primary" />
            </form>

            </span>
          <p class="tm-list-item-description"></p>
        </div>
      </div>
    </div>
{% endblock %}